{% extends "base.html" %}

{% block title %}OBS clients{% endblock %}

{% block content %}
<h1 class="pb-3">OBS clients</h1>

{% with obs_clients = get_all_obs_clients() %}
<table class="table text-break">
  <thead>
    <tr>
      <th scope="col">Host</th>
      <th scope="col">Port</th>
      <th scope="col">Password</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  {% if obs_clients %}
  <tbody>
    {% for oc in obs_clients %}
    <tr>
      <td>{{oc.host}}</td>
      <td>{{oc.port}}</td>
      <td>{{'*' * oc.password.__len__()}}</td>
      <td class="w-75" style="display: flex;">
        {% if obs_manager.is_connected(oc.host, oc.port) %}
        <form action="{{ url_for('view_obs.get_stream') }}" method="GET" novalidate>
          <button type="submit"><i class="fa-solid fa-camera fa-2xl m-3" style="color: #B197FC;"></i></button>
          <input type="hidden" name="host" id="host" value="{{oc.host}}" class="invisible">
          <input type="hidden" name="port" id="port" value="{{oc.port}}" class="invisible">
        </form>

        <form action="{{ url_for('view_obs.post_disconnect') }}" method="POST" novalidate>
          <button type="submit"><i class="fa-solid fa-pause m-3" style="color: #FFD43B;"></i></button>
          <input type="hidden" name="host" id="host" value="{{oc.host}}" class="invisible">
          <input type="hidden" name="port" id="port" value="{{oc.port}}" class="invisible">
        </form>
        {% else %}
        <form action="{{ url_for('view_obs.post_connect') }}" method="POST" novalidate>
          <button type="submit"><i class="fa-solid fa-play m-3" style="color: #00d700;"></i></button>
          <input type="hidden" name="host" id="host" value="{{oc.host}}" class="invisible">
          <input type="hidden" name="port" id="port" value="{{oc.port}}" class="invisible">
        </form>
        {% endif %}

        <form action="{{ url_for('view_obs.get_edit') }}" method="GET" novalidate>
          <button type="submit" {% if obs_manager.is_connected(oc.host, oc.port) %}disabled{% endif %}><i
              class="fa-solid fa-pen-to-square m-3" style="color: #37aaff;"></i></button>
          <input type="hidden" name="host" id="host" value="{{oc.host}}" class="invisible">
          <input type="hidden" name="port" id="port" value="{{oc.port}}" class="invisible">
        </form>

        <form action="{{ url_for('view_obs.post_remove') }}" method="POST" novalidate>
          <button type="submit"><i class="fa-solid fa-trash m-3" style="color: #ff0000;"></i></button>
          <input type="hidden" name="host" id="host" value="{{oc.host}}" class="invisible">
          <input type="hidden" name="port" id="port" value="{{oc.port}}" class="invisible">
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endif %}

<div class="col-12 mt-4">
  <a href="{{ url_for('view_obs.post_add') }}" class="btn btn-success">+ New Client</a>
</div>
{% endwith %}
{% endblock %}