{% extends "base.html" %}

{% block title %}OBS Clients{% endblock %}

{% block content %}
<h1 class="pb-3">OBS Clients</h1>


<table class="table text-break">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Host</th>
      <th scope="col">Port</th>
      <th scope="col">Password</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for c in obs.get_active_user_clients() %}
    <tr>
      <td>{{c.id}}</td>
      <td>{{c.host}}</td>
      <td>{{c.port}}</td>
      <td>{{'*' * c.password.__len__()}}</td>
      <td class="w-75" style="display: flex;">

        {%if obs.is_disconnected(c.id)%}
        <span data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Connect" data-bs-trigger="hover">
          <a class="btn btn-secondary" href="{{ url_for('view_obs.get_connect', id=c.id) }}" {%if
            obs.is_disconnected(c.id)%}disabled{%endif%}><i class="fa-solid fa-play"
              style="color: #00d700;"></i></a>
        </span>

        <span data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Edit" data-bs-trigger="hover">
          <a class="btn btn-secondary" href="{{ url_for('view_obs.get_edit', id=c.id) }}"><i
              class="fa-solid fa-pen-to-square" style="color: #37aaff;"></i></a>
        </span>

        <span data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Delete" data-bs-trigger="hover">
          <a class="btn btn-secondary" href="{{ url_for('view_obs.get_remove', id=c.id) }}"><i class="fa-solid fa-trash"
              style="color: #ff0000;"></i></a>
        </span>
        {%else%}
        <span data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="View Events" data-bs-trigger="hover">
          <a class="btn btn-secondary" href="{{ url_for('view_events.get_root_id', id=c.id) }}"><i
              class="fa-solid fa-camera fa-1xl" style="color: #B197FC;"></i></a>
        </span>

        <span data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Disconnect" data-bs-trigger="hover">
          <a class="btn btn-secondary" href="{{ url_for('view_obs.get_disconnect', id=c.id) }}"><i
              class="fa-solid fa-pause" style="color: #FFD43B;"></i></a>
        </span>
        {%endif%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="col-12 mt-4">
  <a href="{{ url_for('view_obs.post_add') }}" class="btn btn-success">+ New Client</a>
</div>
{% endblock %}