{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block js %}
<script>
    {% include "validation.js" %}
</script>
{% endblock %}

{% block content %}
<h1 class="pb-3">Sign Up</h1>

<form method="POST" class="row g-3 needs-validation" novalidate>
    <div class="form-floating col-md-4">
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
        <label for="first_name" class="form-label">First Name</label>
        <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="form-floating col-md-4">
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
        <label for="last_name" class="form-label">Last Name</label>
        <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="col-md-3">
        <div class="input-group has-validation form-floating">
            <span class="input-group-text" id="username_prefix">@</span>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                aria-describedby="username_prefix" required>
            <!-- <label for="username" class="form-label">Username</label> TODO: This breaks the floating form-->
            <div class="invalid-feedback">Please choose a valid username.</div>
        </div>
    </div>

    <div class="form-floating col-md-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        <label for="password" class="form-label">Password</label>
        <div class="invalid-feedback">
            Please provide a password that meets the following requirements:
            <div id="passwordHelp" class="form-text alert alert-warning" style="width: 40vw">
                <ul>
                    <li>Between {{ password_strength_reqs.min_length }} - {{ password_strength_reqs.max_length }}
                        Characters
                    </li>
                    {% if password_strength_reqs.requires_lowercase %}
                    <li>Atleast 1 Lowercase Character</li>
                    {% endif %}
                    {% if password_strength_reqs.requires_uppercase %}
                    <li>Atleast 1 Uppercase Character</li>
                    {% endif %}
                    {% if password_strength_reqs.requires_special_chars %}
                    <li>Atleast 1 Special Character</li>
                    {% endif %}
                    {% if password_strength_reqs.requires_digits %}
                    <li>Atleast 1 Digit</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="form-floating col-md-3">
        <input type="password" class="form-control" id="password_confirm" name="password_confirm"
            placeholder="Confirm Password" required>
        <label for="password_confirm" class="form-label">Confirm Password</label>
        <div class="invalid-feedback">Passwords do not match.</div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
</form>
{% endblock %}