{% extends "base.html" %}

{% block title %}Users{% endblock %}



{% block content %}
<h1 class="pb-3">Users</h1>

{% with users = get_all_users() %}
<table class="table text-break">
  <thead>
    <tr>
      <th scope="col">Usename</th>
      <th scope="col">Hashed Password</th>
    </tr>
  </thead>

  {% if users %}
  <tbody>
    {% for user in users %}
    <tr>
      <td scope="col">{{user.name}}</td>
      <td scope="col">{{'*' * user.password.__len__()}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endwith %}
{% endblock %}